<% provide(:title, "About") %>

<!--This is the about page of myCanada app-->

  <center>
  <h1>My Canada App</h1>
  <p>
    My Canada app aims to help users know useful data about Canada.
  </p>
    <p>
    The data is provided by the government throught the Open Data Portal - our app presents the data in a meaningful and clear way by using charts.
  </p>
    <p>
    After users login, they can see popular feeds about Canada on their home page.
  </p>

     <p>
    In addition, if users want to see a specific dataset, they can click on the "open data" button, and choose any of the categories.
  </p>
      <p>
    This app is developed by:
  </p>
      <p>
    Pritpal Singh
  </p>
      <p>
    Yue Pan
  </p>
      <p>
    Tianru Hu
  </p>
      <p>
    James Hannah
  </p>
      <p>
    Zisu Geng
  </p>
  </center>

  </body>
</html>
