<% provide(:title, "Education") %>

<!--This is the education page of myCanada app-->

  <h1>Education</h1>



<div id='education1', style='width:870px; height:710px'>
  <script>
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
            renderTo: 'education1',
            type: 'line',
            plotBackgroundColor: '#CCFFFF'
        },

        title: {
          text: 'Education Assistance Payments by Year($ million) '
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/bd043d94-ba24-4e88-8bc5-1d871e8c83ea">' +
            'Canada Open Data'
        },

        xAxis: {
            categories: <%= @vec[1] %>
        },

        series: [{
            name: 'Payments',
            data: <%= @vec[2] %>
        }]
    });
  });
</script>
</div>

<div id='education2', style='width:870px; height:710px'>
  <script>
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
            renderTo: 'education2',
            type: 'line',
            plotBackgroundColor: '#CCFFFF'
        },

        title: {
          text: 'Post-Secondary Education Withdrawals ($ million)'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/bd043d94-ba24-4e88-8bc5-1d871e8c83ea">' +
            'Canada Open Data'
        },

        xAxis: {
            categories: <%= @vec[1] %>
        },

        series: [{
            name: 'Withdrawals',
            data: <%= @vec[3] %>
        }]
    });
  });
</script>
</div>

</body>
</html>
