<% provide(:title, "Weather") %>

<!--This is the weather page of myCanada app-->

  <h1>Weather</h1>

  <div id='weather1', style='width:870px; height:710px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: "weather1",
          type:'column'
        },
        title: {
          text: 'Total precipitation of capital and major cities'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/81f6c8e6-ffee-4c20-8cbf-c06dc2b233e6">' +
            'Canada Open Data'
        },
        xAxis: {
          categories: ['St.John\'s', 'Charlottetown', 'Halifax', 'Fredericton', 'Québec', 'Montréal', 'Ottawa', 'Toronto', 'Winnipeg', 'Regina', 'Edmonton', 'Calgary', 'Vancouver', 'Victoria', 'Whitehorse', 'Yellowknife']
        },
        yAxis: {
          title: {
            text: 'Precipitation (centimetres)'
          }
        },
        tooltip: {
            pointFormat: '<b>{point.name}</b>: {point.y:.1f} mm.'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Total precipitation',
            colorByPoint: true,
            data: <%= @precipitation %>
        }]



      });
    });
    </script>
  </div>



  <div id='weather2', style='width:870px; height:710px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: "weather2",
          type:'line'
        },
        title: {
          text: 'Average snowfall of capital and major cities'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/81f6c8e6-ffee-4c20-8cbf-c06dc2b233e6">' +
            'Canada Open Data'
        },

        xAxis: {
          categories: ['St.John\'s', 'Charlottetown', 'Halifax', 'Fredericton', 'Québec', 'Montréal', 'Ottawa', 'Toronto', 'Winnipeg', 'Regina', 'Edmonton', 'Calgary', 'Vancouver', 'Victoria', 'Whitehorse', 'Yellowknife']
        },
        yAxis: {
          title: {
            text: 'Snowfall (milimetres)'
          }
        },

        tooltip: {
          formatter: function () {
              return '<b>' + this.series.name + '</b><br/>' +
                  this.x + ': ' + this.y + ' mm';
                }
        },

        series: [{
          name: 'Cities',
          data: <%= @snowfall %>
        }]
      });
    });
    </script>
  </div>

  <div id="weather3" style="height: 400px">
    <script>
      $(document).ready(function() {
      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'weather3',
              type: 'bar'
            },
            title: {
              text: 'Wet days of capital and major cities'
            },
            subtitle: {
              text: 'Source: <a href="http://open.canada.ca/data/en/dataset/81f6c8e6-ffee-4c20-8cbf-c06dc2b233e6">' +
                'Canada Open Data'
            },
            xAxis: {
              categories: ['St.John\'s', 'Charlottetown', 'Halifax', 'Fredericton', 'Québec', 'Montréal', 'Ottawa', 'Toronto', 'Winnipeg', 'Regina', 'Edmonton', 'Calgary', 'Vancouver', 'Victoria', 'Whitehorse', 'Yellowknife']
            },
            yAxis: {
              title: {
                text: 'days'
              }
            },

            legend: {
              layout: 'vertical',
              floating: true,
              backgroundColor: '#FFFFFF',
              align: 'right',
              verticalAlign: 'top',
              y: 60,
              x: -60
            },
            tooltip: {
              formatter: function () {
                  return '<b>' + this.series.name + '</b><br/>' +
                      this.x + ': ' + this.y + ' days';
                    }
            },
            series: [{
              name: 'Cities',
              data: <%= @wetdays %>
            }]
          });
        });
    </script>
  </div>




  </body>
</html>
