<%= @user.name %>, <%= @user.email %>
<p>

  
</p>



<style type="text/css">
#cbc_div { background: rgb(255, 255, 255); width: 250px; }
#cbc_div h3 { background: rgb(255, 255, 255); }
#cbc_div h3 a { color: rgb(168, 38, 43); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; }
#cbc_div dl { border-bottom: 1px solid rgb(0, 0, 0); }
#cbc_div dt a { color: rgb(19, 45, 108); font-family: Arial,Helvetica,sans-serif; font-size: 13px; }
.cbc_lead { color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-left: 0px; }
.cbc_timezone { color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 10px; margin-left: 0px; }
#cbc_div .dl3, #cbc_div .dl4, #cbc_div .dl5, #cbc_div .dl6 { display: none; }
</style><script language="javascript" src="http://www.cbc.ca/cgi-bin/freeheadlines/headlines.cgi?logo=0&cat=15,28"></script>
