<%= @user.name %>, <%= @user.email %>
<p>

  <a href="https://www.accuweather.com/en/ca/vancouver/v5y/weather-forecast/53286" class="aw-widget-legal">
  <!--
  By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
  -->
</a><div id="awcc1448696386751" class="aw-widget-current"  data-locationkey="53286" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1448696386751"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</p>


<style type="text/css">
#cbc_div { background: rgb(255, 255, 255); width: 250px; }
#cbc_div h3 { background: rgb(255, 255, 255); }
#cbc_div h3 a { color: rgb(168, 38, 43); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; }
#cbc_div dl { border-bottom: 1px solid rgb(204, 204, 204); }
#cbc_div dt a { color: rgb(19, 45, 108); font-family: Arial,Helvetica,sans-serif; font-size: 13px; }
.cbc_lead { color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-left: 0px; }
.cbc_timezone { color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 10px; margin-left: 0px; }
#cbc_div .dl5, #cbc_div .dl6 { display: none; }
</style><script language="javascript" src="https://www.cbc.ca/cgi-bin/freeheadlines/headlines.cgi?logo=0&cat=15,28"></script>
