@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
body {
  padding-top: 60px;
  /*margin-left: 1px;
  float: left;
  margin-right: 1px;
*/
overflow:auto;
}
.parent {
  display: table;
  width: 100%;
  overflow:auto;
}
.child1 {
  display: table-cell;
  width: 30%; /* adjust */
    float: left;
    overflow:auto;
}
.child2 {
  display: table-cell;
  width: 30%; /* adjust */
    float: left;
    margin-left: 50px;
    overflow:auto;
}

.child3 {
  display: table-cell;
  width: 30%; /* adjust */
    float: right;
    overflow:auto;
}
#fbFeed{
    float: left;
    margin-right: 40px;
}
#feedgrab{
   float: left;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;

}
.center h1 {
  margin-bottom: 15px;
}

#sign_button {
  color: white;

}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

.selected { color: red; }

.navbar {
  background-color:red;
  background-image: none;
  background-repeat: no-repeat;
  overflow:auto;
 }

.dropdown:hover{

  // text-decoration: underline;

}
#opendataList{



}
 /* header */
 #homelist{
   color: white;

 }
 #homelist:hover{
   //color: white;
  // font-weight: bold;
   text-decoration: underline;
 }
 #logo {
   font-family: 'Roboto';
   float: left;
   margin-right: 10px;
   font-size: 2em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 15px;
   font-weight: bold;

 }
 #logo:hover {
   color: black;
   text-decoration: none;
   background-color: red
 }
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}
footer a:hover {
  color: black;
}
footer small {
  float: left;
  margin-left: 15px;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

footer nav{
  margin-right: 30px;
}

#aboutlist:hover {
  color: white;
  text-decoration: none;

}


/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}
input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
#error_explanation {
  color: yellow;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
